version: '3.6'

services:
  keycloak2:
    container_name: keycloak2
    image: jboss/keycloak:12.0.4
    ports:
      - 8080:8080
    environment:
      KEYCLOAK_USER: ${KEYCLOAK_ADMIN} 
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD} 
      DB_VENDOR: postgres 
      DB_ADDR: ${DB_HOST} 
      DB_USER: ${DB_USER} 
      DB_PASSWORD: ${DB_PASSWORD} 
      DB_DATABASE: ${DB_NAME}
      PROXY_ADDRESS_FORWARDING: 'true'
    volumes:
      - ./messages_en.properties:/opt/jboss/keycloak/themes/base/email/messages/messages_en.properties
      - ./executeActions.ftl:/opt/jboss/keycloak/themes/base/email/html/executeActions.ftl
      - ./password-reset.ftl:/opt/jboss/keycloak/themes/base/email/html/password-reset.ftl